<div class="jumbotron">
  <div class="container">
    <h1>Lib:Intel Administration</h1>
    <p>Control of users, settings etc. </p>
  </div>
</div>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="userAdmin" class="tile" style="cursor:pointer;">
      <h2>Users</h2>
      <p>Set user roles, delete users and (re)set their passwords.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3" style="cursor:pointer;">
      <div routerLink="classification" class="tile">
        <h2>Classification</h2>
        <p>Upload files, build classification index and provide them for analyses.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div (click)="updateNrequests()" class="tile" style="cursor:pointer;">
        <h2>Update hitlists</h2>
        <p>Collect the actual requests to build the hitlists.</p>
      </div>
    </div>
  </div>
</div>
